* {
  margin: 0;
  padding: 0;
}


.back {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgb(61, 48, 44), yellow, rgb(16, 201, 16));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
}

.back button {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  height: 20px;
  width: 60px;
  transform: translate(-50%, -50%);
  border: 0 solid white;
  background-color: yellow;
}