<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="../static/d1.png">
    <link rel="stylesheet" href="../static/sytle.css">
    <link rel="stylesheet" href="../static/dashStyle1Navbar.css">
    <link rel="stylesheet" href="../static/dashStyleContent.css">
    <link rel="stylesheet" href="../static/dashStyleFooter.css">
    <style>
        a{
            text-decoration: none;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    </style>
</head>

<body>
    <nav>
        <div class="navbar">
            <img id="p1" src="../static/logoVillage.png" alt="logo" height="60px">
            <!-- <a id="gap" href="https://www.google.com">Home</a> -->

            <div id="gap" class="dropdown">
                <a class="dropbtn" href="..\index.html">Home</a>
                <div class="dropdown-content">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, illum?
                    </p>
                </div>
            </div>
            <div id="gap2" class="dropdown">
                <a class="dropbtn" href="#">About</a>
                <div class="dropdown-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, in.
                    </p>
                </div>
            </div>
            <div id="gap3" class="dropdown">
                <a class="dropbtn" href="#">Contact</a>
                <div class="dropdown-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, laboriosam.</p>
                </div>
            </div>
        </div>
        <div class="myButton">
            <a href="/all/register/">
                <button id="myButton">Register</button>
            </a>
        </div>
    </nav>
    <div id="poster">
        <div class="poster2" id="poster2">
            <div class="common" class="people">
                <a href="/all/people/">
                    <img src="../static/people.png" alt="logo">
                    <div class="desc">
                        <p>People's Biodata</p>
                    </div>
                </a>
            </div>
            <div class="common" class="place">
                <a href="/all/village/">
                    <img src="../static/place.png" alt="logo">
                    <div class="desc">
                        <p>Village Description</p>
                    </div>
                </a>
            </div>
            <div class="common" class="festival">
                <a href="/all/festival/">
                    <img src="../static/festival.png" alt="logo">
                    <div class="desc">
                        <p>Festival Celebration</p>
                    </div>
                </a>
            </div>
            <div class="common" class="map">
                <a href="https://www.google.com/maps/place/Barwadih,+Jharkhand+825318/@24.3634672,85.7770663,15z/data=!4m15!1m8!3m7!1s0x39f390b729cb5709:0xf05a7d3f3391ae39!2sBarwadih,+Jharkhand+825318!3b1!8m2!3d24.3633752!4d85.7833228!16s%2Fg%2F12j3gvzkq!3m5!1s0x39f390b729cb5709:0xf05a7d3f3391ae39!8m2!3d24.3633752!4d85.7833228!16s%2Fg%2F12j3gvzkq?entry=ttu">
                    <img src="../static/map.png" alt="logo">
                    <div class="desc">
                        <p>Map</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- ..................... -->

    <footer>
        <div class="footer-content">
            <!-- <div class="date"><span id="current-date"></span></div> -->
            <div class="copyright">
                <span>
                    <p id="current-year"> </p>
                </span><span>
                    <p> &#169; All rights reserved</p>
                </span>
            </div>
        </div>
    </footer>
    <script src="../static/dashNavbarInfoDropdown.js"></script>
    <script src="../static/footer.js"></script>
</body>

</html>