<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="../static/d1.png">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
    <link rel="stylesheet" href="../../css/dashStyleFooter.css">
    <link rel="stylesheet" href="../../css/dashStyle1Navbar.css">
    <link rel="stylesheet" href="../css/container.css">
</head>

<body>
    <nav>
        <div class="navbar">
            <img id="p1" src="../../image/logoVillage.png" alt="logo" height="60px">
            <!-- <a id="gap" href="https://www.google.com">Home</a> -->

            <!-- <div id="gap" class="dropdown">
                <a class="dropbtn" href="../../index.html">Home</a>
                <div class="dropdown-content">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, illum?
                    </p>
                </div>
            </div>
            <div id="gap2" class="dropdown">
                <a class="dropbtn" href="#">About</a>
                <div class="dropdown-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, in.
                    </p>
                </div>
            </div>
            <div id="gap3" class="dropdown">
                <a class="dropbtn" href="#">Contact</a>
                <div class="dropdown-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, laboriosam.</p>
                </div>
            </div> -->
        </div>
    </nav>
    <!-- ....... -->
    <div class="form">
        <div class="container">
        <h2>User Login</h2>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <!-- <label for="email">Email:</label>
            <input type="email" id="email" name="email">

            <label for="password">Date Of Birth:</label>
            <input type="date" id="date" name="date" required>

            <label for="number">Phone Number:</label>
            <input type="phone-number" id="confirm-password" name="phone-number" required>

            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="">Select</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select> -->

            <button type="submit">Login</button>
        </form>
    </div> 

    </div>
    <!-- ....... -->
    <footer>
        <div class="footer-content">
            <!-- <div class="date"><span id="current-date"></span></div> -->
            <div class="copyright">
                <span>
                    <p id="current-year"> </p>
                </span><span>
                    <p> &#169; All rights reserved</p>
                </span>
            </div>
        </div>
    </footer>
    <!-- ..... -->
    <script src="../../js/footer.js"></script>


</body>

</html>